body {
	background-color: #4F4F4F;
}

span {
	font-size: 16px;
	font-family: "Verdana"
}

#big {
	font-size: 30px;
	font-family: "Verdana"
}

table {
	border: 0px;
}

.brick{
	margin: -2px;
}

#header {
	box-shadow: 10px 10px 10px black;
	border-radius: 10px;
	margin-left: 15%;
	background-color: #909090;
	width: 1500px;
	height: 150px;
}

#day {
	margin-left: 10px;
	width: 30%;
	height: 140px;
}

#loupe {
	padding-right: 10px;
	float: right;
	margin-top: 17px;
}

#right{
	float: right;
}

#shadowred{
	text-shadow: 10px 10px 10px #ff0000;
}

.little {
	display: block;
	padding-top: 10px;
	padding-right: 10px;
}

#close {
	padding-top: 80px;
}

#left {
	float: left;
	box-shadow: 10px 10px 10px black;
	border-radius: 10px;
	margin-left: 17.5%;
	margin-top: 30px;
	background-color: #909090;
	width: 147px;
	height: 550px;
}

.sideimg {
	float: top;
	width: 50%;
	margin-left: 25%;
	padding-top: 30px;
}

#eyes {
	border: 7px solid red;
	float: top;
	width: 50%;
	margin-left: 25%;
}

#center{
	box-shadow: 10px 10px 10px black;
	width: 1040px;
	height: 750px;
	border-radius: 10px;
	float: left;
	background-color: #909090;
	margin-top: 1%;
	margin-left: 20px;
}

#centerimg{
	width:1020px;
	height: 735px;
	margin-left: 11px;
	margin-top: 7.5px;
}

#right2 {
	box-shadow: 10px 10px 10px black;
	float: left;
	border-radius: 10px;
	margin-left: 20px;
	margin-top: 18px;
	background-color: #909090;
	width: 155px;
	height: 550px;
}

#formulaire {
	padding-left: 10px;
	padding-top: 10px;
	position: absolute;
	text-align: left;
	top: 900px;
	box-shadow: 10px 10px 10px black;
	border-radius: 10px;
	margin-left: 15%;
	background-color: #86FD87;
	width: 504px;
	height: 170px;
}